* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

#titulo-container {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    margin: 27px 15px;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin: 49px 15px;
}

.corVerde {
    color: #7ED321;
    font-family: 'Raleway', sans-serif;
}

.boxone {
    white-space: nowrap;
}

button {
    border: 0;
    background-color: rgba(126, 211, 33, 0.4);
    color: #1c4701;
    width: 151px;
    height: 40px;
    border-radius: 15px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding-top: 9px;
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 9px;
    margin: -9px 15px;
    cursor: pointer;
}

#frase {
    font-family: 'Open Sans', sans-serif;
    white-space: nowrap;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 65px;
}

#lista2 {
    white-space: nowrap;
    list-style-type: none;
}

.botao2 {
    border: 0;
    background-color: #7ed321;
    color: #1c4701;
    width: 220px;
    height: 51px;
    border-radius: 15px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    position: absolute;
    padding-top: 13px;
    padding-right: 55px;
    padding-left: 55px;
    padding-bottom: 13px;
    margin: auto auto auto -10px;
    cursor: pointer;
}

.titulo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#meio-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/*.figura1 {
    height: 620px;
    width: 460px;
}*/